# Importing Libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

## Import orders_products_combined data

In [3]:
# To use the os.path.join function, you first have to define the path
path = r'/Users/oluwaseunodusanya/Desktop/06.2023_Instacart Basket Analysis'

In [4]:
# Step 3 - Import orders_products_combined Data
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
#Import Product Data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

In [6]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0,both

In [7]:
# Step 4 - Check the shape of the imported Data
df_orders_products_combined.shape

(32640698, 11)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

In [10]:
# To drop the Unnamed column for df_ords
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [11]:
# Step 5 - To combine df_orders_products_combined and df_prods

In [13]:
# Product_id is the merging key for both data frames
df_merged_prods = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [ ]:
# To drop the existing merged column in df_orders_products_combined, due to error preventing the merging of df_prods and df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [ ]:
df_merged_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [ ]:
df_merged_prods.shape

(32404859, 15)

In [ ]:
# Step 6 - Confirm the results of the merge using the merge flag
df_merged_prods['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
crosstab = pd.crosstab(df_merged_prods['days_since_last_order'], df_merged_prods['order_number'], dropna = False)

NameError: name 'pd' is not defined

In [ ]:
# To export df_merged_prod in pickle format
df_merged_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))